.Products_div{
    margin-left: 14rem;
    margin-top: 3rem;
    display: flex;
}
.Best_Div{
    background-color: #FF7724;
    width: 146px;
    height: 44px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Best_Div p{
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.product_num_1{
    font-size: 2rem;
    color: #626E79;
}
.product_name{
    margin-left: 5.4rem;
    color: #626E79;
}
.products_middle_pane{
    width: 690px;
    margin-left: 50px;
    margin-top: 40px;
}
.products_middle_pane p{
    font-size: larger;
    color: #4B5665;
}
.products_middle_pane p span{
    font-size: larger;
    color: #4B5665;
    font-weight: bold;
}
.products_middle_pane #p_1{
    font-size: larger;
    color: black;
    font-weight: bold;
    margin-top: 3rem;
}
.products_middle_pane #s_1{
    font-size: larger;
    color: #4B5665;
}
.products_middle_pane .span_div{
    margin-left: 3rem;
}
.products_middle_pane h3{
    color: #1B88F4;
    font-size: 1rem;
    margin-top: 2rem;
}
.products_right_pane{
    margin-left: 5rem;
    margin-top: 3rem;
}
.products_right_pane .first_div{
    width: 205px;
    height: 198px;
    background-color: #dfeefc;
    border-radius:0px 0px 30px 30px ;

}
.products_right_pane .first_div p{
    text-align: center;
    // padding-top: 60px;
    font-size: 200%;
    color: #074786;
    margin-bottom: 8px;
}
.products_right_pane .first_div span{
    margin-left: 2.5rem;
    font-size: 150%;
    color: #074786;
}
.products_right_pane button{
    background-color: #1B88F4;
    width: 232px;
    height: 48px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    margin-top: 4rem;
    text-align: center;
    border: none;
}
button:hover{
    background-color: #1B88F4;
    cursor: pointer;
}
.Related_products_div{
    display: flex;
}
.related_h1{
    margin-left: 14rem;
    margin-top: 3rem;
    color: #2C384A;
    font-weight: 400;
    margin-top: 15rem;
    font-size: 3rem;
}
.Related_products_1{
    margin-left: 14rem;
    margin-top: 5rem;
}
.Related_products_1 button{
    background-color: #1B88F4;
    width: 232px;
    height: 48px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
    border: none;
}